{% extends 'main/base.html' %}
{% block content %}
<a href="{% url 'cliente.novo' %}">Novo</a>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de nascimento</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in object_list %}
        <tr>
            <td>{{ cliente.nome_completo }}</td>
            <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
            <td>
                {% if cliente.ativo %}
                Sim
                {% else %}
                Não
                {% endif %}
            </td>
            <td>
                <a href="{% url 'cliente.editar' cliente.pk %}">Editar</a>
                <a href="{% url 'cliente.remover' cliente.pk %}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock content %}
